<config>
	<modules>
		<Custom_CustomApi>
			<version>0.1.0</version>
		</Custom_CustomApi>
	</modules>
	<default>
		<cusotomapi_data>
			<v1>
				<commands>
					<command1>product_increase</command1>
					<command2>product_delete</command2>
				</commands>
				<validators>
					<product_increase>Validator1</product_increase>
					<product_delete>Validator2</product_delete>
				</validators>
			</v1>
			<v2>
				<commands>
					<command1>product_increase</command1>
					<command2>product_delete</command2>
				</commands>
				<validators>
					<product_increase>Validator1</product_increase>
					<product_delete>Validator2</product_delete>
				</validators>
			</v2>
		</cusotomapi_data>
		<customapi_support>
			<common_data>
				<own_email>r.kushnir.ur@gmail.com</own_email>
				<email_template>customapi_support_mail</email_template>
			</common_data>
		</customapi_support>
		<web>
			<routers>
				<customapi_router>
					<area>frontend</area>
					<class>Custom_CustomApi_Controller_Router</class>
				</customapi_router>
			</routers>
		</web>
	</default>
	<global>
		<helpers>
			<customapi_support>
				<class>Custom_CustomApi_Helper</class>
			</customapi_support>
		</helpers>
		<models>
			<customapi>
				<class>Custom_CustomApi_Model</class>
				<resourceModel>customapi_authentication_resource</resourceModel>
			</customapi>
			<customapi_authentication>
				<class>Custom_CustomApi_Model_Authentication</class>
				<resourceModel>customapi_authentication_resource</resourceModel>
			</customapi_authentication>
			<customapi_authentication_resource>
				<class>Custom_CustomApi_Model_Authentication_Resource</class>
				<entities>
					<tokens>
						<table>customapi_authentication</table>
					</tokens>
				</entities>
			</customapi_authentication_resource>
			<customapi_support>
				<class>Custom_CustomApi_Model</class>
				<resourceModel>customapi_support_resource</resourceModel>
			</customapi_support>
			<customapi_support_resource>
				<class>Custom_CustomApi_Model_Support_Resource</class>
				<entities>
					<support_logger>
						<table>customapi_support_request</table>
					</support_logger>
				</entities>
			</customapi_support_resource>
		</models>
		<blocks>
			<customapi_support>
				<class>Custom_CustomApi_Block</class>
			</customapi_support>
		</blocks>
		<events>
			<controller_front_init_routers>
				<observers>
					<Magentotutorial_configviewer_model_observer>
						<type>singleton</type>
						<class>Magentotutorial_Configviewer_Model_Observer</class>
						<method>checkForConfigRequest</method>
					</Magentotutorial_configviewer_model_observer>
				</observers>
			</controller_front_init_routers>
		</events>
		<!-- TODO: поменять как только разберусь с pdo_mysql -->
		<template>
			<email>
				<customapi_support_mail module="customapi_support">
					<label>Support</label>
					<file>customapi_support.html</file>
					<type>html</type>
				</customapi_support_mail>
			</email>
		</template>
	</global>
	<frontend>
		<routers>
			<customapi>
				<use>customapi_router</use>
				<args>
					<module>Custom_CustomApi</module>
					<frontName>customapi</frontName>
				</args>
			</customapi>
		</routers>
	</frontend>
	<admin>
		<routers>
			<customapi_support>
				<use>admin</use>
				<args>
					<module>Custom_CustomApi</module>
					<frontName>customapi_support</frontName>
				</args>
			</customapi_support>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<sender_to_support translate="title" module="customapi_support">
				<title>CustomApi</title>
				<sort_order>100</sort_order>
				<children>
					<support_email module="customapi_support">
						<title>Contact support</title>
						<sort_order>1</sort_order>
						<action>customapi_support/adminhtml_support/index</action>
					</support_email>
				</children>
			</sender_to_support>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<support_email>
							<title>Contact support</title>
							<sort_order>1</sort_order>
						</support_email>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>